<div>
  <div>
    <h1>
      List of all administradoras
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new administradora
    </h2>

    <form action="/insert_administradora" method="post">
      <div>
        <label for="nombre_administradora_box">
          Nombre administradora
        </label>

        <input type="text" id="nombre_administradora_box" name="query_nombre_administradora">
      </div>

      <div>
        <label for="tipo_adminsitradora_box">
          Tipo adminsitradora
        </label>

        <input type="text" id="tipo_adminsitradora_box" name="query_tipo_adminsitradora">
      </div>

      <div>
        <label for="fondos_count_box">
          Fondos count
        </label>

        <input type="text" id="fondos_count_box" name="query_fondos_count">
      </div>

      <button>
        Create administradora
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Nombre administradora
        </th>

        <th>
          Tipo adminsitradora
        </th>

        <th>
          Fondos count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_administradoras.each do |an_administradora| %>
      <tr>
        <td>
          <%= an_administradora.id %>
        </td>

        <td>
          <%= an_administradora.nombre_administradora %>
        </td>

        <td>
          <%= an_administradora.tipo_adminsitradora %>
        </td>

        <td>
          <%= an_administradora.fondos_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_administradora.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_administradora.updated_at) %> ago
        </td>

        <td>
          <a href="/administradoras/<%= an_administradora.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
