<div>
  <div>
    <h3>
      <%=@the_participacion.fondo.nombre_fondo%>
    </h3>
    <h4>
      Tipo de participacion # <%= @the_participacion.codigo_participaciones %>
    </h4>
  </div>
  <hr>
  <dl>
    <dt>
      Sociedad Administradora
    </dt>
    <dd>
      <%= @the_participacion.fondo.administradora.nombre_administradora %>
    </dd>
    <dt>
      Fondo
    </dt>
    <dd>
      <%= @the_participacion.fondo.nombre_fondo %>
    </dd>
    <dt>
      Tipo de participacion
    </dt>
    <dd>
      <%= @the_participacion.codigo_participaciones %>
    </dd>
    <dt>
      Valor fondo
    </dt>
    <dd>
      <%= @the_participacion.valor_fondo %>
    </dd>
    <dt>
      Rentabilidad diaria
    </dt>
    <dd>
      <%= @the_participacion.rentabilidad_diaria %>
    </dd>
    <dt>
      Rentabilidad mensual
    </dt>
    <dd>
      <%= @the_participacion.rentabilidad_mensual %>
    </dd>
    <dt>
      Rentabilidad semestral
    </dt>
    <dd>
      <%= @the_participacion.rentabilidad_semestral %>
    </dd>
    <dt>
      Rentabilidad anual
    </dt>
    <dd>
      <%= @the_participacion.rentabilidad_anual %>
    </dd>
  </div>
