<div>
  <div>
    <h1>
      List of all favoritos
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new favorito
    </h2>

    <form action="/insert_favorito" method="post">
      <div>
        <label for="participacion_id_box">
          Participacion
        </label>

        <input type="text" id="participacion_id_box" name="query_participacion_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="exit_date_box">
          Exit date
        </label>

        <input type="date" id="exit_date_box" name="query_exit_date">
      </div>

      <button>
        Create favorito
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Participacion
        </th>

        <th>
          User
        </th>

        <th>
          Exit date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_favoritos.each do |a_favorito| %>
      <tr>
        <td>
          <%= a_favorito.id %>
        </td>

        <td>
          <%= a_favorito.participacion_id %>
        </td>

        <td>
          <%= a_favorito.user_id %>
        </td>

        <td>
          <%= a_favorito.exit_date %>
        </td>

        <td>
          <%= time_ago_in_words(a_favorito.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_favorito.updated_at) %> ago
        </td>

        <td>
          <a href="/favoritos/<%= a_favorito.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
