<div>
  <div>
    <h1>
      Compara tus fondos
    </h1>
    <p>
    </div>
  </div>
  <hr>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Administradora</th>
          <th scope="col">Fondo</th>
          <th scope="col">Tipo participacion</th>
          <th scope="col">Valor del fondo</th>
          <th scope="col">Rentabilidad diaria</th>
          <th scope="col">Rentabilidad mensual</th>
          <th scope="col">Rentabilidad semestral</th>
          <th scope="col">Rentabilidad anual</th>
          <th scope="col">Eliminar favorito</th>
        </tr>
      </thead>
      <tbody>
        <% @list_of_favoritos.each do |a_favorito| %>
          <tr>
            <td>
              <a  href="/administradoras/<%= a_favorito.participacion.fondo.administradora.id %>"><%= a_favorito.participacion.fondo.administradora.nombre_administradora %></a>
            </td>
            <td>
              <a  href="/funds/<%= a_favorito.participacion.fondo.id %>"><%= a_favorito.participacion.fondo.nombre_fondo %></a>
            </td>
            <td>
              <a  href="/participacions/<%= a_favorito.participacion.id %>"><%= a_favorito.participacion.codigo_participaciones %></a>
            </td>
            <td><%= a_favorito.participacion.valor_fondo %></td>
            <td><%= a_favorito.participacion.rentabilidad_diaria %></td>
            <td><%= a_favorito.participacion.rentabilidad_mensual %></td>
            <td><%= a_favorito.participacion.rentabilidad_semestral %></td>
            <td><%= a_favorito.participacion.rentabilidad_anual %></td>
            <td> <a href="/delete_favorito/<%= a_favorito.id %>">Eliminar</a></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <hr>
  <div>
    <div>
      <h4>
        Sigue estos pasos para agregar un nuevo FIC favorito para comparar.
      </h4>
      <ul class="list-group">
        <li class="list-group-item">Selecciona la Sociedad Administradora</li>
        <li class="list-group-item">Selecciona el Fondo</li>
        <li class="list-group-item">Selecciona el tipo de participacion</li>
        <li class="list-group-item">Agrega a tus favoritos</li>
      </ul>
      <a class="btn btn-outline-primary" href="/administradoras" role="button">Agrega un favorito</a>
    </div>
  
