<div>
  <div>
    <h1>
      Compara tus fondos
    </h1>
    <p>
    </div>
  </div>
  <hr>
  <div>
    <div>
      <h2>
        Add a new favorito
      </h2>
      <form action="/insert_favorito" method="post">
        <div>
          <label for="participacion_id_box">
            Participacion
          </label>
          <input type="text" id="participacion_id_box" name="query_participacion_id">
        </div>
        <div>
          <label for="user_id_box">
            User
          </label>
          <input type="text" id="user_id_box" name="query_user_id">
        </div>
        <button>
          Create favorito
        </button>
      </form>
    </div>
  </div>
  <hr>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Administradora</th>
          <th scope="col">Fondo</th>
          <th scope="col">Tipo participacion</th>
          <th scope="col">Valor del fondo</th>
          <th scope="col">Rentabilidad diaria</th>
          <th scope="col">Rentabilidad mensual</th>
          <th scope="col">Rentabilidad semestral</th>
          <th scope="col">Rentabilidad anual</th>
        </tr>
      </thead>
      <tbody>
        <% @list_of_favoritos.each do |a_favorito, count| %>
          <tr>
            <td><%= count %></td>
            <td><%= a_favorito.participacion.fondo.administradora.nombre_administradora %></td>
            <td><%= a_favorito.participacion.fondo.nombre_fondo %></td>
            <td><%= a_favorito.participacion.codigo_participaciones %></td>
            <td><%= a_favorito.participacion.valor_fondo %></td>
            <td><%= a_favorito.participacion.rentabilidad_diaria %></td>
            <td><%= a_favorito.participacion.rentabilidad_mensual %></td>
            <td><%= a_favorito.participacion.rentabilidad_semestral %></td>
            <td><%= a_favorito.participacion.rentabilidad_anual %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <hr>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>
        <th>
          Participacion
        </th>
        <th>
          User
        </th>
        <th>
          Exit date
        </th>
        <th>
          Created at
        </th>
        <th>
          Updated at
        </th>
        <th>
        </th>
      </tr>
      <% @list_of_favoritos.each do |a_favorito| %>
        <tr>
          <td>
            <%= a_favorito.id %>
          </td>
          <td>
            <%= a_favorito.participacion_id %>
          </td>
          <td>
            <a href="/favoritos/<%= a_favorito.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <hr>
