<div>
  <div>
    <h1>
      Compara tus fondos
    </h1>
    <p>
    </div>
  </div>
  <hr>
  <div>
    <div>
      <h2>
        Para agregar un nuevo favorito, 
      </h2>
      <form action="/insert_favorito" method="post">
        <div>
          <label for="participacion_id_box">
            Participacion
          </label>
          <input type="text" id="participacion_id_box" name="query_participacion_id">
        </div>
        <div>
          <label for="user_id_box">
            User
          </label>
          <input type="text" id="user_id_box" name="query_user_id">
        </div>
        <button>
          Create favorito
        </button>
      </form>
    </div>
  </div>
  <hr>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Administradora</th>
          <th scope="col">Fondo</th>
          <th scope="col">Tipo participacion</th>
          <th scope="col">Valor del fondo</th>
          <th scope="col">Rentabilidad diaria</th>
          <th scope="col">Rentabilidad mensual</th>
          <th scope="col">Rentabilidad semestral</th>
          <th scope="col">Rentabilidad anual</th>
          <th scope="col">Eliminar favorito</th>
        </tr>
      </thead>
      <tbody>
        <% @list_of_favoritos.each do |a_favorito| %>
          <tr>
            <td>
              <a  href="/administradoras/<%= a_favorito.participacion.fondo.administradora.id %>"><%= a_favorito.participacion.fondo.administradora.nombre_administradora %></a>
            </td>
            <td>
              <a  href="/funds/<%= a_favorito.participacion.fondo.id %>"><%= a_favorito.participacion.fondo.nombre_fondo %></a>
            </td>
            <td>
              <a  href="/participacions/<%= a_favorito.participacion.id %>"><%= a_favorito.participacion.codigo_participaciones %></a>
            </td>
            <td><%= a_favorito.participacion.valor_fondo %></td>
            <td><%= a_favorito.participacion.rentabilidad_diaria %></td>
            <td><%= a_favorito.participacion.rentabilidad_mensual %></td>
            <td><%= a_favorito.participacion.rentabilidad_semestral %></td>
            <td><%= a_favorito.participacion.rentabilidad_anual %></td>
            <td> <a  href="/favoritos/<%= a_favorito.id %>">Eliminar</a></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
