<div>
</div>
<hr>
<div>
  <h4>
    Sigue estos pasos para agregar un nuevo FIC favorito para comparar.
  </h4>
  <ul class="list-group">
    <li class="list-group-item">Selecciona la Sociedad Administradora</li>
    <li class="list-group-item">Selecciona el Fondo</li>
    <li class="list-group-item active">Selecciona el tipo de participacion y agregala a tus favoritos</li>
  </ul>
</div>
<hr>
<div>
  <div>
    <h4>
      Selecciona una participacion del <%= @the_fund.nombre_fondo %> para agregarla a tus favoritos
    </h4>

     <% @the_fund.tipo_participaciones.each do |una_part| %>
    <form action="/insert_favorito" method="post">
      <div>
        <input type="hidden" id="participacion_id_box" name="query_participacion_id" value="<%=una_part.id%>">
      </div>
      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@current_user.id%>">
      </div>
      <button class="btn btn-outline-secondary">
        Agregar la participacion tipo <%= una_part.codigo_participaciones %> (<%=una_part.id%>) 
      </button>
    </form>
    <%end%>

    <hr>
    <div>
        <a class="btn btn-outline-primary" href="/administradoras" role="button">Selecciona otra Sociedad Administradora</a>
        <a class="btn btn-outline-primary" href="/administradoras/<%=@the_fund.administradora_id%>" role="button">Selecciona otro fondo de la misma Sociedad Administradora</a>
    </div>


